In [ ]:
# Harshavardhini Budde  
pip install sqlite3

In [ ]:


# Harshavardhini Budde 
import sqlite3
 
# Connect to SQLite and create a database
conn = sqlite3.connect("students_database.db")
cursor = conn.cursor() #cursor is like pointer or object for the database
 
# Create a table named "students" write every query in excute method
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        roll_no INTEGER,
        name TEXT,
        age INTEGER,
        grade TEXT,
        marks INTEGER
    )
''')

In [ ]:

import csv
 
# Read data from the CSV file
with open('students_data.csv') as f:
    reader = csv.DictReader(f)
    data = list(reader)
 
# Insert data into the table
for row in data:
    cursor.execute("INSERT INTO students(roll_no, name, age, grade, marks) VALUES (?, ?, ?, ?, ?)",
                   (row['Roll No'], row['Name'], row['Age'], row['Grade'], row['Marks']))
 
# Commit the changes
conn.commit()
 
# Close the database connection
conn.close()

In [ ]:


import sqlite3
 
# Connect to the database
conn = sqlite3.connect('students_database.db')  
cursor = conn.cursor()
 
# Execute a SELECT query on the "students" table
cursor.execute('SELECT * FROM students')
 
# Fetch all rows
rows = cursor.fetchall()
 
# Display the data
for row in rows:
    print(row)
 
# Close the database connection
conn.close()